<div id="uw-top-menus" class="uw-is-visible uw-horizontal" aria-hidden="false">

  <div class="uw-main-nav">
    <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
      <ul id="uw-main-nav">
        <li><a id='navigation-button-link' tabindex=" .  . " href=''><i class="fa fa-home"></i> Dashboard</a></li>
      </ul>
    </nav>
  </div>
  <div class="uw-secondary-nav">
    <nav class="uw-nav-menu uw-nav-menu-secondary" aria-label="Secondary Menu">
      <ul>
        <li><%= link_to "Categories", {:controller => :categories}, { class: "nav-link"} %></li>
        <li><%= link_to "Users", {:controller => :users}, { class: "nav-link"} %></li>
        <li><a href="https://radiology.wisc.edu/" ><i class="fa fa-external-link"></i> Radiology.wisc.edu</a></li>
        <li><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </nav>
  </div>
  <br />
  <div class="uw-main-nav">

  </div>
</div>